params {

	configParser = {var, varmap ->
			if(varmap.containsKey(var)){
				return varmap[var]
			}else{
				return varmap
			}
	}

	folder {
		data = "/home/quentinr/Documents/VIB_work/scRNA_seq/datasets/gex_adt_hto"
		runDir = "/home/quentinr/Documents/VIB_work/scRNA_seq/Singularity_pipeline_submodules/Seurat"
		outDir = "/home/quentinr/Documents/VIB_work/scRNA_seq/datasets/john_doe"
	}

	seuratObjBuilder {
		minFeaturesGEX = null
		minCellsGEX = null
	}

	findVariableFeatures {
		RNA {
			nfeatures = null
			selectionMethod = null
			loesSpan = null
			clipMax = null
			numBin = null
			binningMethod = null
		}
		ADT {
			nfeatures = null
			selectionMethod = null
			loesSpan = null
			clipMax = null
			numBin = null
			binningMethod = null
		}

	}

	scaling{
		RNA {
			features = null
			varsToRegress = null
			splitBy = null
			modelUse = null
			useUmi = null
			doScale = null
			doCenter = null
			scaleMax = null
			blockSize = null
			minCellsToBlock = null
		}
		ADT {
			features = null
			varsToRegress = null
			splitBy = null
			modelUse = null
			useUmi = null
			doScale = null
			doCenter = null
			scaleMax = null
			blockSize = null
			minCellsToBlock = null
		}
	}

	normalization {
		HTO {
			normalizationMethod = "CLR"
			scaleFactor = null
			margin = 1
		}
	}

	dimensionalityReduction {
		pca {
			RNA {
				ndims = null
				nPcs = null
				nPlotedPcs = null
			}
			ADT {
				ndims = null
				nPcs = null
				nPlotedPcs = null
			}
		}
		tsne {
			RNA {
				reduction = null
				//cells = null
				dims = null
				//features = null
				seedUse = null
				tsneMethod = null
				addIter = null
				dimEmbed = null
				distanceMatrix = null
				//reductionName = null
				//reductionKey = null
				perplexity = null
			}
			ADT {
				reduction = null
				cells = null
				dims = null
				features = null
				seedUse = null
				tsneMethod = null
				addIter = null
				dimEmbed = null
				distanceMatrix = null
				reductionName = null
				reductionKey = null
			}

		}
		umap {
			ndims = null
		}
	}

	thresholdFiltering{
		nmads = null
	}

}
