params {
	Seurat {
		dimensionalityReduction {
			tsne {
				HTO {
					reduction = dist // pca, ica or dist (will calculate a distance matrix)
					//cells = null
					dims = null
					//features = null
					seedUse = null
					tsneMethod = null
					addIter = null
					dimEmbed = null
					distanceMatrix = null
					//reductionName = null
					//reductionKey = null
					perplexity = 100
				}
			}
		}
	}
}
