includeConfig '../processes/seuratObjBuilder/seuratObjBuilder.config'
includeConfig '../processes/hashtagsSelection/hashtagsSelection.config'
includeConfig '../processes/normalization/normalization.config'
includeConfig '../processes/dimensionalityReduction/tsne.config'
includeConfig '../processes/HTODemultiplexing/HTODemultiplexing.config'
