params{
	Seurat{
		RNA{
			outputFormat = "rds"
		}
	}
}
includeConfig '../processes/seuratObjBuilder/seuratObjBuilder.config'
includeConfig '../processes/RNAQc/RNAQc.config'
includeConfig '../processes/thresholdFiltering/thresholdFiltering.config'
includeConfig '../processes/scTransform/scTransform.config'
includeConfig '../processes/findVariableFeatures/findVariableFeatures.config'
includeConfig '../processes/markerGenes/markerGenes.config'
includeConfig '../processes/dimensionalityReduction/pca.config'
includeConfig '../processes/clustering/clustering.config'
includeConfig '../processes/annotationGraphs/annotationGraphs.config'
