params {
	Seurat {
		RNAQc {
				inputFile = null // only if the pipeline start from this process
				mitoGenes = "true"
				covidGenes = "true"
				rbcGenes = "true"
				genomeName1 = null //For multi genomes experiment, name of the human/mouse genome
				genomeName2 = null //For multi genomes experiment, name of the other genome (if genome 1 is human, genome 2 can be mouse)
		}
	}
}
